In [1]:
import statsmodels.formula.api as smf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
df = pd.read_csv('indicepanel.csv')
df.head()

   Unnamed: 0       spy  spy_lag1  ...         hsi      nikkei       Price
0           1 -1.570008 -1.619995  ... -162.750000  -48.830078  144.910004
1           2 -1.529998 -1.570008  ...  515.349609   99.370117  143.339996
2           3  0.270004 -1.529998  ...  216.951171  234.450195  141.809998
3           4 -2.990006  0.270004  ... -354.060547 -158.209961  142.080002
4           5  0.589997 -2.990006  ...  768.359375 -308.639649  139.089996

[5 rows x 12 columns]