In [13]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

In [14]:
df = pd.read_csv('btc_ohlv_macd.csv')

In [15]:
df.head()

,date,open,high,low,close,volume,macd,signal,hist
0,2022-04-03,45810.99,47444.11,45530.92,46407.35,33394.67794,0.000000,0.000000,0.000000
1,2022-04-04,46407.36,46890.71,45118.00,46580.51,44641.87514,13.813333,2.762667,11.050667
2,2022-04-05,46580.50,47200.00,45353.81,45497.55,42192.74852,-61.911643,-10.172195,-51.739448
3,2022-04-06,45497.54,45507.14,43121.00,43170.47,60849.32936,-306.170794,-69.371915,-236.798879
4,2022-04-07,43170.47,43900.99,42727.35,43444.19,37396.54156,-472.217584,-149.941049,-322.276535

In [16]:
df.shape

(365, 9)

In [17]:
ema_12 = df['close'].ewm(span=12, adjust=False).mean()
ema_26 = df['close'].ewm(span=26, adjust=False).mean()
macd = ema_12 - ema_26
signal = macd.ewm(span=9, adjust=False).mean()

In [18]:
bullish = macd[macd > signal]
bearish = macd[macd < signal]

In [19]:
t_stat, p_value = ttest_ind(bullish, bearish)

In [20]:
alpha = 0.05
if p_value <= alpha:
    print('Reject the null hypothesis')
    print("There is a statistically significant difference between the bullish and bearish MACD values.")
else:
    print('Fail to reject the null hypothesis')
    print("There is not enough evidence to reject the null hypothesis that the mean bullish and bearish MACD values are equal.")

Reject the null hypothesis
There is a statistically significant difference between the bullish and bearish MACD values.